<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Library Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {{!-- <img src="icon.png" alt="" width="32" height="32" class="d-inline-block align-top"> --}}
                &NonBreakingSpace; <font style="background: -webkit-linear-gradient(#F37335, #FDC830);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;"><b>SongOrg</b></font>
            </a>
        </div>
    </nav>
    <div class="container mt-4">
        {{{body}}}
    </div>

    <script>console.log("Working")</script>
    {{!-- Uncomment below script if Bootstrap Javascript components are required --}}
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script> --}}
</body>

</html>