<div class="text-center">
    <img class="animate__animated animate__fadeIn" src="landing_icon.png" alt="Song Org icon" height="240px"
        width="240px">

    <h1 style="font-size: 70px;
  background: -webkit-linear-gradient( #F37335, #FDC830);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;" class="animate__animated animate__fadeIn"><b>SongOrg</b></h1>
    <h1 style="font-size: 35px;
  " class="animate__animated animate__fadeIn"><b> One storage for all your music. </b></h1\>
        <br><br><br>
        <a href="/login"><button type="button" class="btn btn-primary btn-lg animate__animated animate__fadeInUpBig"
                style="width: 20rem;">
                Log-In</button></a>
</div>